:root {
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --hero-footer-color: #2f303a;
  --title-color: #212121;
  --adv-workarea-color: #f5f5f5;
  --typical-letter-spacing: 0.03em;
  --main-gap: 30px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  display: block;
}

.section {
  margin-right: auto;
  margin-left: auto;
}

.section-body {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /*outline: 2px solid red;*/
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: var(--typical-letter-spacing);
  color: var(--title-color);
}

.btn {
  cursor: pointer;
  display: block;
  min-width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #188ce8;
  color: #ffffff;
}

.header-page {
  border-bottom: 1px solid #ececec;
}

.header-page .container {
  display: flex;
  align-items: center;
}

.header-nav,
.header-list,
.auth-nav {
  display: flex;
  align-items: center;
}

.header-list {
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: var(--typical-letter-spacing);
  margin-right: 93px;
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo:hover,
.header-logo:focus {
  color: var(--accent-color);
}

.accent-logo {
  color: var(--accent-color);
}

.header-link,
.auth-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-link {
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-item {
  position: relative;
}

.header-item .active {
  color: var(--accent-color);
}

.active::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  background-color: var(--accent-color);
  border: none;
  border-radius: 2px;
}

.auth-nav {
  margin-left: auto;
  gap: 50px;
}

.auth-nav-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav-link:hover,
.auth-nav-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}/*# sourceMappingURL=main.css.map */