/*Фон
фон шапки   #FFFFFF;
Hero   #2F303A;
button   #2196F3;
фон Наша команда    #F5F4FA;
футер   #2F303A;
*/

/*Текст
логотип   #2196F3;
логотип   #000000
Hero h1 + button + footer p   #FFFFFF;
nav+ h2 + h3   #212121;
tel + p   #757575;
footer mail + tel   rgba(255, 255, 255, 0.6);
*/

:root {
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --hero-footer-color: #2f303a;
  --title-color: #212121;
  --adv-workarea-color: #f5f5f5;
  --typical-letter-spacing: 0.03em;
  --main-gap: 30px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
address {
  font-style: normal;
}
img {
  display: block;
  min-width: 100%;
  height: auto;
}
body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  display: block;
}
.soc-link {
  text-decoration: none;
  display: block;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.btn {
  cursor: pointer;
  display: block;
}
.btn:hover,
.btn:focus {
  background-color: #188ce8;
  color: #ffffff;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /*outline: 2px solid red;*/
}
.section {
  margin-right: auto;
  margin-left: auto;
}
.section-body {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*-----------HEADER------------*/

.header-page {
  border-bottom: 1px solid #ececec;
}
.header-page .container {
  display: flex;
  align-items: center;
}
.header-nav,
.header-list,
.auth-nav {
  display: flex;
  align-items: center;
}
.header-list {
  column-gap: 50px;
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: var(--typical-letter-spacing);
  margin-right: 93px;
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.accent-logo {
  color: var(--accent-color);
}
.header-link,
.auth-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-link {
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav {
  margin-left: auto;
  gap: 50px;
}
.auth-nav-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-item .active {
  color: var(--accent-color);
}
.header-item {
  position: relative;
}
.active::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  background-color: var(--accent-color);
  border: none;
  border-radius: 2px;
}

/*-----------HERO------------*/

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  width: 1600px;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
}
.hero-main-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}
.hero-btn {
  min-width: 216px;
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*-----------ADVANTAGES------------*/

.advantages {
  padding-bottom: 0;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.advantages-list {
  display: flex;
  gap: var(--main-gap);
}
.advantages-item {
  width: calc((100%-90) / 4);
}
.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}
.advantages-title,
.workarea-title-section,
.team-title-section {
  color: var(--title-color);
  font-weight: 700;
  letter-spacing: var(--typical-letter-spacing);
}
.advantages-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--typical-letter-spacing);
}

/*-----------WORKAREA------------*/

.workarea-title-section {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.workarea-list {
  display: flex;
  gap: var(--main-gap);
}
.workarea-item {
  position: relative;
  flex-basis: calc((100%-60) / 3);
}
.workarea-text {
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: var(--typical-letter-spacing);
  text-transform: uppercase;
}

/*-----------TEAM------------*/
.team {
  background-color: #f5f4fa;
}

.team-title-section {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  gap: var(--main-gap);
}
.team-item {
  width: calc((100%-90) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-img {
  background-color: #757575;
}
.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
}
.team-title {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: var(--typical-letter-spacing);
  margin-bottom: 10px;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: var(--typical-letter-spacing);
  margin-bottom: 16px;
}
.team-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.team-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
}
.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
  fill: #ffffff;
}

/*-----------Clients------------*/
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: var(--typical-letter-spacing);
  color: var(--title-color);
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  gap: var(--main-gap);
}
.clients-item {
  width: calc((100%-150) / 6);
}
.clients-link {
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

/*-----------Footer------------*/

.footer {
  color: var(--primary-white-color);
  background-color: var(--hero-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer-contacts {
  margin-right: 70px;
}
.footer-logo {
  color: var(--primary-white-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: var(--typical-letter-spacing);
  margin-bottom: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-mail-link,
.address-tel-link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-text {
  margin-bottom: 9px;
}
.address-text,
.address-mail-link,
.address-tel-link {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--typical-letter-spacing);
}
.footer-item {
  margin-bottom: 9px;
}
/*.footer-soc {
  margin-right: 93px;
}*/
.footer-soc-agitation {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: var(--typical-letter-spacing);
  text-transform: uppercase;
}
.footer-soc-list {
  display: flex;
  gap: 10px;
}
.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-icon {
  fill: var(--primary-white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}
.footer-soc-link:hover .footer-soc-icon,
.footer-soc-link:focus .footer-soc-icon {
  fill: var(--primary-white-color);
}

.footer-subscription {
  margin-left: auto;
}
.subscription-text {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: var(--typical-letter-spacing);
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.subscription-form {
  display: flex;
}
.subscription-input {
  min-width: 358px;
  height: 50px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  margin-right: 12px;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-input:focus {
  outline-color: var(--accent-color);
}
.subscription-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: var(--typical-letter-spacing);

  color: rgba(255, 255, 255, 0.6);
}
.subscription-btn {
  display: flex;
  align-items: center;
  min-width: 200px;
  height: 50px;
  padding: 10px 28px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  color: var(--primary-white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-send {
  margin-left: 10px;
  fill: var(--primary-white-color);
}

/*------------Modal--------------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  padding: 40px;
}
.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-close-icon {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: var(--accent-color);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}
.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: var(--typical-letter-spacing);
  color: var(--title-color);
}
.input-field {
  position: relative;
  margin-bottom: 10px;
}
.input-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 12px;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  outline-color: var(--accent-color);
}
.form-input::placeholder,
.comment-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.comment-text {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
.field-comment {
  margin-bottom: 19px;
}
.modal-contacts-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  /*transform: translateY(-50%);*/
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .modal-contacts-icon {
  fill: var(--accent-color);
}
.field-check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 29px;
}
.check-text {
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.check-text span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--typical-letter-spacing);
  color: var(--primary-text-color);
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 3px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-check {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.input-check:checked + .check-text .icon-check {
  fill: #ffffff;
}
.input-check:focus + .check-text span {
  border-color: var(--accent-color);
}
.check-link {
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--typical-letter-spacing);
}
/*.check-text::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 3px;
  margin-right: 5px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-link {
  color: var(--accent-color);
}
.input-check:checked + .check-text::before {
  background-color: var(--accent-color);
  background-image: url(../img/icon-check.svg);
  border: none;
  background-repeat: no-repeat;
  background-position: center;
}*/

.submit-btn {
  margin: 0 auto;

  height: 50px;
  min-width: 200px;
  padding: 10px 52px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*------------PORTFOLIO--------------*/
/*----------FILTER-BUTTON------------*/
.portfolio-page {
  font-family: 'Roboto', sans-serif;
}
.portfolio-btn-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-btn,
.portfolio-list-item,
.portfolio-list-text {
  font-family: 'Roboto', sans-serif;
}
.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: var(--typical-letter-spacing);
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 73px;
  padding: 6px 22px;
  color: var(--title-color);
  background: #f5f4fa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*----------Pictures------------*/
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--main-gap);
}
.portfolio-list-item {
  flex-basis: calc((100%-90) / 4);
}
.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-top-text {
  display: inline-block;
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: var(--typical-letter-spacing);
}
.portfolio-list-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list-item:hover .portfolio-top-text {
  transform: translateY(0);
}
.portfolio-card-content {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.portfolio-list-title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.portfolio-list-text {
  color: var(--primary-text-color);
  font-style: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: var(--typical-letter-spacing);
}
